<h2>Role
	<small>configuration</small>
</h2>

<ol class="breadcrumb">
	<li>
		<i class="icon-cog-alt"></i> 
		<a href="#/settings">
			Settings
		</a>
	</li>
	<li>
		<i class="icon-key"></i>
		<a href="#/settings/role">
			Roles
		</a>		
	</li>	
	<li class="active">
		<i class="icon-key"></i><span data-ng-hide="data.n"> {{data.name}}</span><span data-ng-show="data.n"> - - - - - - - - - -</span>
	</li>		
</ol>

<div class="row">
	<div class="col-lg-12">


		<form class="form-horizontal" data-ng-submit="save()">
			<fieldset>

				<div class="control-group">
					<label class="control-label" for="name">Name</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="icon-pencil"></i></span>
						<input id="name" type="text" class="form-control" placeholder="Role name" data-ng-model="data.name" >
					</div>
				</div>				

				<div class="control-group">
					<label class="control-label" for="save"></label>
					<div class="controls">
						<button id="save" type="submit" class="btn btn-success" data-ng-hide="data.n" ><i class="icon-floppy"></i> Save</button>
						<button id="save" type="submit" class="btn btn-success" data-ng-show="data.n" ><i class="icon-doc-text"></i> Create</button>
						<button id="close" type="button" class="btn btn-default" data-ng-click="close()" ><i class="icon-floppy"></i> Close</button>
						<span style="float: right">
							<button type="button" class="btn btn-danger" data-ng-disabled="data.n" data-ng-click="delete()"><i class="icon-trash"></i> Delete</button>
						</span>								
					</div>
				</div>					
			</fieldset>
		</form>	

	</div>
</div>	
