<!doctype html>
<html lang="en" data-ng-app="armonitor">
	<head>
		<meta charset="utf-8">
		<title data-translate="APP_NAME">Application release monitor</title>
		<!--DEV-CSS-->
		<link rel="stylesheet" href="css/fontello.css"/>
		<link rel="stylesheet" href="css/animation.css"/>
		<link rel="stylesheet" href="css/app.css"/>
		<!--DEV-CSS-->
		<!--PROD-BEGIN<link rel="stylesheet" href="css/armonitor-web.css"/>PROD-END-->
		<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css"/>
		<link rel="stylesheet" href="css/timeline/timeline.css"/>
		<link rel="shortcut icon" href="img/favicon.ico">
	</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header"> 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-brand" data-translate="APP_NAME">Release monitor</span>			  
				</div>
				<div class="navbar-collapse collapse" data-ng-controller="MenuCtrl">
					<ul class="nav navbar-nav navbar-left">						
						<li data-ng-class="{ active: active(['/dashboard'])}"><a href="#/dashboard"><i class="icon-gauge"></i> <span data-translate="MENU_DASHBOARD">Dashboard</span></a></li>
						<li data-ng-class="{ active: active(['/deploy'])}"><a href="#/deploy" data-ng-show="roles.deployer"><i class="icon-rocket"></i> Deploy</a></li>
						<li data-ng-class="{ active: active(['/settings'])}" data-ng-show="roles.admin">
							<a href="#" class="dropdown-toggle"  data-toggle="dropdown"><i class="icon-cog-alt"></i> Settings <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#/settings/mail"><i class="icon-mail-alt"></i> Mail service</a></li>
								<li><a href="#/settings/timer"><i class="icon-clock"></i> Timer service</a></li>																
								<li class="divider"></li>
								<li><a href="#/settings/scm"><i class="icon-fork"></i> SCM systems</a></li>
								<li><a href="#/settings/bts"><i class="icon-bug"></i> BTS systems</a></li>
								<li class="divider"></li>
								<li><a href="#/settings/project"><i class="icon-award"></i> Projects</a></li>
								<li><a href="#/settings/app"><i class="icon-beaker"></i> Applications</a></li>
								<li><a href="#/settings/sys"><i class="icon-suitcase"></i> Systems</a></li>
								<li><a href="#/settings/agent"><i class="icon-user-md"></i> Agents</a></li>
								<li class="divider"></li>
								<li><a href="#/settings/user"><i class="icon-users"></i> Users</a></li>								
								<li><a href="#/settings/role"><i class="icon-key"></i> Roles</a></li>		
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">						
						<li><a href="">
							<i class="icon-bell" data-ng-show="info.size === 0"></i>
							<i class="icon-bell-alt" data-ng-hide="info.size === 0"></i>
							<span class="label" data-ng-class="{'label-info': info.status === 'INFO', 'label-danger': info.status === 'ERROR'}">{{info.size}}</span>
							</a>
						</li>
						<li><a href="" data-ng-hide="user" ng-click="login()"><i class="icon-login"></i> Sign in</a></li>
						<li data-ng-show="user">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> {{user.name}} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#/profile"><i class="icon-user"></i> Profile</a></li>								
								<li class="divider"></li>
								<li><a href="" data-ng-click="logout()"><i class="icon-logout"></i> Logout</a></li>
							</ul>						
						</li>
					</ul>					
				</div>
			</div>
		</div>
		<div style="margin-top: 50px"></div>

		<div class="container marketing">

			<div data-ng-controller="ErrorCtrl">
				<div style="margin-top: 10px" data-ng-show="error">
					<div class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true"  ng-click="close()">&times;</button>
						<i class="icon-attention"></i><b>Oh snap! </b>{{error.message}}
					</div>
				</div>
<!--				<div style="margin-top: 10px" data-ng-show="errors.length > 0">
					<div class="alert alert-danger alert-dismissable" data-ng-repeat="e in errors">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true"  ng-click="close($index)">&times;</button>
						<i class="icon-attention"></i><b>Oh snap! </b>{{e.message}}
					</div>
				</div>-->
			</div>	
			
			<div data-ng-controller="MenuCtrl">
				<div style="margin-top: 10px" data-ng-show="info.msg">
					<div class="alert alert-info alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true"  ng-click="close()">&times;</button>
						<i class="icon-bell-alt"></i> {{info.msg.message}}
					</div>
				</div>
			</div>			

			<div data-ng-view></div>

			<hr style="margin-top: 20px;"/>	
			<footer style="text-align: center">
				<p>&copy; 2013 <a href="http://www.lorislab.org" class="link-simple"><span class="label label-success">lorislab.org</span></a> &middot; Release monitor <span data-app-version></span> &middot; Released under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.</p>
			</footer>				
		</div>
		<script src="lib/timeline/timeline-min.js"></script>
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/angular/angular-route.min.js"></script>
		<script src="lib/angular/angular-resource.min.js"></script>
		<script src="lib/angular-translate/angular-translate.min.js"></script>
		<script src="lib/angular-translate/angular-translate-loader-static-files.min.js"></script>		
		<script src="lib/ui-boostrap/ui-bootstrap.min.js"></script>
		<!--DEV-JS-->
		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
		<script src="js/admin/agent/services.js"></script>
		<script src="js/admin/app/services.js"></script>
		<script src="js/admin/bts/services.js"></script>
		<script src="js/admin/project/services.js"></script>
		<script src="js/admin/role/services.js"></script>
		<script src="js/admin/scm/services.js"></script>
		<script src="js/admin/services/services.js"></script>
		<script src="js/admin/sys/services.js"></script>
		<script src="js/admin/user/services.js"></script>
		<script src="js/deploy/services.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/admin/agent/controllers.js"></script>
		<script src="js/admin/app/controllers.js"></script>
		<script src="js/admin/bts/controllers.js"></script>
		<script src="js/admin/project/controllers.js"></script>
		<script src="js/admin/role/controllers.js"></script>
		<script src="js/admin/scm/controllers.js"></script>
		<script src="js/admin/services/controllers.js"></script>
		<script src="js/admin/sys/controllers.js"></script>
		<script src="js/admin/user/controllers.js"></script>		
		<script src="js/deploy/controllers.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/directives.js"></script>
		<!--DEV-JS-->
		<!--PROD-BEGIN<script src="js/armonitor-web.js"></script>PROD-END-->				
	</body>
</html>
