
<h2>Source code systems
	<small>configuration</small>
</h2>

<ol class="breadcrumb">
	<li>
		<i class="icon-cog-alt"></i> 
		<a href="#/settings">
			Settings
		</a>
	</li>
	<li data-ng-class="{active: !selected}">
		<i class="icon-fork"></i><span data-ng-hide="selected"> SCM systems</span>
		<a href="" data-ng-show="selected" data-ng-click="close()">
			SCM systems
		</a>		
	</li>	
	<li class="active" data-ng-show="selected">
		<i class="icon-fork"></i> {{selected.server}}
	</li>		
</ol>

<div class="animate-switch-container" data-ng-switch on="!!selected">
	<div class="animate-switch" data-ng-switch-default>
		<div data-ng-include="'partials/admin/scm/main.html'"></div>
	</div>
	<div class="animate-switch" data-ng-switch-when="true">
		<div data-ng-include="'partials/admin/scm/edit.html'"></div>
	</div>
</div>
