<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<!--
	Mail: ${Mail.guid}
	StoreSystemBuild: ${StoreSystemBuild.guid}
	StoreSystem: ${StoreSystem.guid}
	StoreBuild: ${StoreBuild.guid}
	StoreApplication: ${StoreApplication.guid}
	StoreProject: ${StoreProject.guid}
-->
<body>

	<div id="body" style="width:80%;margin:0 auto; padding-left: 10%">
		<h2>
			<a style="text-decoration:none;" href="${MailConfig.server}/#/appbuild/${StoreApplication.guid}">${StoreApplication.name}</a>
			<small>
				<a href="${MailConfig.server}/#/systembuild/${StoreSystem.guid}" style="text-decoration:none;">${StoreSystem.name}</a>
			</small>
		</h2>
		<!-- BUILD CHANGES -->	
		<table style="padding: 0px;border:0px;width:100%;border-spacing:0">
			<thead style="padding:0px;">
				<tr style="padding:0px;border:0px;font-weight:700;font-size:18px;background-color:#baecb7;color:#32a32d;">
					<td colspan="5" style="border:0px; padding:0px;">
						<h3>
						<a href="${MailConfig.server}/#/versionbuild/${StoreApplication.guid}/${StoreBuild.mavenVersion}" style="text-decoration:none;">
							${StoreBuild.mavenVersion!"x.x.x"}
						</a>
						<a href="${MailConfig.server}/#/activity/${StoreBuild.guid}" style="text-decoration:none;">
							${StoreBuild.build!"rc.x"}
						</a>		
						${StoreSystemBuild.date?datetime}
						</h3>
					</td>
				</tr>
			</thead>
			<#if ChangeReport.buildChanges?has_content>	
			<tbody>
				<#list ChangeReport.buildChanges as change>
				<tr style="padding:0px; font-weight: bold; border-bottom:1px solid #adadad;">
					<!-- TYPE -->
					<#if change.error>
					<#if change.issue??>
					<td style="padding:0px; width: 20px; background-color: #f0ad4e; text-align: center; border-top:1px solid #adadad">
						<span>${change.issue.type?substring(0, 1)}</span>		
						<#else>
					<td style="padding:0px; width: 20px; background-color: #d9534f; text-align: center; border-top:1px solid #adadad">
						<span>!</span>	
						</#if>
						<#else>
						<#if change.issue??>
					<td style="width: 20px; background-color: #5cb85c; text-align: center; border-top:1px solid #adadad">
						<span>${change.issue.type?substring(0, 1)}</span>		
						<#else>
					<td style="width: 20px; background-color: #d9534f; text-align: center; border-top:1px solid #adadad">
						<span>!</span>	
						</#if>								
						</#if>
						<!-- ID -->
					<td style="width: 110px; border-top:1px solid #adadad">
						<#if change.link??>
						<a href="${change.link}" style="text-decoration:none;">${change.id}</a>
						<#else>${change.id}</#if>
					</td>
					<!-- RESOLUTION -->
					<td style="width: 140px; border-top:1px solid #adadad">
						<#if change.issue??>${change.issue.resolution!""}</#if>								
					</td>
					<!-- ASSIGNEE -->
					<td style="width: 160px; border-top:1px solid #adadad">
						<#if change.issue??>${change.issue.assignee!""}</#if>								
					</td>
					<!-- SUMMARY -->
					<td style="border-top:1px solid #adadad;">
						<#if change.issue??>${change.issue.summary!""}</#if>								
					</td>
				</tr>
				<#if change.changes?has_content >	
				<#list change.changes as log>
				<tr>
					<td></td>
					<td>
						<#if log.build??>										
						<h6><a href="${MailConfig.server}/#/activity/${log.build.guid}" style="text-decoration:none;">${log.build.build}</a></h6>
						<#else>***</#if>									
					</td>
					<td><h6>${log.scmLog.date?datetime?string("dd-MM-yyyy hh:mm")}</h6></td>
					<td><h6>${log.scmLog.user}</h6></td>
					<td>
						<h6>
							<#if log.link??>
							<a href="${log.link}" style="text-decoration:none;">${log.scmLog.id}</a>
							<#else>${log.scmLog.id}</#if>								
							: ${log.scmLog.message}
						</h6>
					</td>								
				</tr>
				</#list>
				<#else>
				<tr>
					<td colspan="4"></td>
					<td><h6><span>No changes</span></h6></td>
				</tr>
				</#if>
				</#list>
			</tbody>
			<#else>	
			<tbody>
				<tr>
					<td colspan="5" style="text-align: center;">No changes</td>
				</tr>
			</tbody>			
			</#if>
		</table>


		<div style="text-align: center; padding-bottom: 10px; padding-top: 10px;"> 
            <h4><a href="http://www.lorislab.org" style="text-decoration:none;"><span>www.lorislab.org</span></a></h4>
        </div>

		<!-- BUILDS -->
		<table style="padding: 0px; border:0px;width:100%;border-spacing:0">
			<thead style="padding:0px;">
				<tr style="padding:0px;border:0px;font-weight:700;font-size:18px;background-color:#baecb7;color:#32a32d">
					<td colspan="5" style="padding:0px; border-bottom:1px solid #baecb7;">
						<h3>
						<a href="${MailConfig.server}/#/versionbuild/${StoreApplication.guid}/${StoreBuild.mavenVersion}" style="text-decoration:none;">
							${StoreBuild.mavenVersion!"x.x.x"}
						</a>
						</h3>
					</td>
				</tr>
			</thead>
			<#if ChangeReport.changes?has_content>									
			<tbody>
				<#list ChangeReport.changes as change>
				<tr style="padding:0px; font-weight: bold; border-top:1px solid #adadad;">
					<!-- TYPE -->
					<#if change.error>
						<#if change.issue??>
							<td style="width: 20px; background-color: #f0ad4e; text-align: center; border-top:1px solid #adadad">
							<span>${change.issue.type?substring(0, 1)}</span>		
						<#else>
							<td style="width: 20px; background-color: #d9534f; text-align: center; border-top:1px solid #adadad">
							<span>!</span>	
						</#if>
					<#else>
						<#if change.issue??>
							<td style="width: 20px; background-color: #5cb85c; text-align: center; border-top:1px solid #adadad">
							<span>${change.issue.type?substring(0, 1)}</span>		
						<#else>
							<td style="width: 20px; background-color: #d9534f; text-align: center; border-top:1px solid #adadad">
							<span>!</span>	
						</#if>								
					</#if>

					</td>
					<!-- ID -->
					<td style="width: 110px; border-top:1px solid #adadad">
						<#if change.link??>
						<a href="${change.link}" style="text-decoration:none;">${change.id}</a>
						<#else>${change.id}</#if>
					</td>
					<!-- RESOLUTION -->
					<td style="width: 140px; border-top:1px solid #adadad">
						<#if change.issue??>${change.issue.resolution!""}</#if>								
					</td>
					<!-- ASSIGNEE -->
					<td style="width: 160px; border-top:1px solid #adadad">
						<#if change.issue??>${change.issue.assignee!""}</#if>								
					</td>
					<!-- SUMMARY -->
					<td style="border-top:1px solid #adadad;">
						<#if change.issue??>${change.issue.summary!""}</#if>								
					</td>
				</tr>
				<#if change.changes?has_content >	
				<#list change.changes as log>
				<tr style="padding:0px;">
					<td></td>
					<td>
						<#if log.build??>										
						<h6><a href="${MailConfig.server}/#/activity/${log.build.guid}" style="text-decoration:none;">${log.build.build}</a></h6>
						<#else>***</#if>									
					</td>
					<td><h6>${log.scmLog.date?datetime?string("dd-MM-yyyy hh:mm")}</h6></td>
					<td><h6>${log.scmLog.user}</h6></td>
					<td>
						<h6>
							<#if log.link??>
							<a href="${log.link}" style="text-decoration:none;">${log.scmLog.id}</a>
							<#else>${log.scmLog.id}</#if>								
							: ${log.scmLog.message}
						</h6>
					</td>								
				</tr>
				</#list>
				<#else>
				<tr style="padding:0px;">
					<td colspan="4"></td>
					<td><h6><span>No changes</span></h6></td>
				</tr>
				</#if>
				</#list>
			</tbody>
			<#else>	
			<tbody>
				<tr>
					<td colspan="5" style="text-align: center;">No changes</td>
				</tr>
			</tbody>				
			</#if>						
		</table>

		<table>
			<tbody>
				<tr>
					<td style="width: 20px; background-color: #d9534f; text-align: center">!</td>
					<td>This is not a issue.</td>
					<td style="width: 20px; background-color: #f0ad4e; text-align: center">T</td>
					<td>This issue is not planned for this release.</td>
					<td style="width: 20px; background-color: #999; text-align: center">***</td>
					<td>Changes for next build.</td>
				</tr>
			</tbody>
		</table>

		<div style="text-align: center; padding-top: 10px;"> 
            <h4><a href="http://www.lorislab.org" style="text-decoration:none;"><span>www.lorislab.org</span></a></h4>
        </div>

	</div>    
</body>
</html>
