<h2>Agents
	<small>configuration</small>
</h2>

<ol class="breadcrumb">
	<li>
		<i class="icon-cog-alt"></i> 
		<a href="#/settings">
			Settings
		</a>
	</li>
	<li>
		<i class="icon-user-md"></i>
		<a href="#/settings/agent">
			Agents
		</a>		
	</li>	
	<li class="active">
		<i class="icon-user-md"></i><span data-ng-hide="data.n"> {{data.url}}</span><span data-ng-show="data.n"> - - - - - - - - - -</span>
	</li>		
</ol>

<div class="row">
	<div class="col-lg-12">

		<tabset>
			<tab>
				<tab-heading>
					<i class="icon-user"></i> Agent
				</tab-heading>				
				<form class="form-horizontal" data-ng-submit="save()">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="auth"></label>
							<div class="controls">
								<label class="enabled">
									<input type="checkbox" id="auth" data-ng-model="data.authentication"> Agent authentication
								</label>							
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="name">Name</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-pencil"></i></span>
								<input id="name" type="text" class="form-control" placeholder="Name of the agent" data-ng-model="data.name" required>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="url">URL</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-pencil"></i></span>
								<input id="url" type="text" class="form-control" placeholder="The agent URL" data-ng-model="data.url" required>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="user">User</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-pencil"></i></span>
								<input id="user" type="text" class="form-control" placeholder="The agent user" data-ng-model="data.user" >
							</div>
						</div>												

						<div class="control-group">
							<label class="control-label" for="type">Type</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-pencil"></i></span>
								<select id="type" class="form-control" data-ng-model="data.type" data-ng-options="k as v for (k,v) in types">									
								</select>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="save"></label>
							<div class="controls">
								<button id="save" type="submit" class="btn btn-success" data-ng-hide="data.n" ><i class="icon-floppy"></i> Save</button>
								<button id="save" type="submit" class="btn btn-success" data-ng-show="data.n" ><i class="icon-doc-text"></i> Create</button>
								<button id="close" type="button" class="btn btn-default" data-ng-click="close()" ><i class="icon-floppy"></i> Close</button>
								<span style="float: right">
									<button type="button" class="btn btn-danger" data-ng-disabled="data.n" data-ng-click="remove()"><i class="icon-trash"></i> Delete</button>
								</span>								
							</div>
						</div>					
					</fieldset>
				</form>	
			</tab>

			<tab data-ng-show="!data.n">
				<tab-heading>
					<i class="icon-lock"></i> Password
				</tab-heading>
				<form class="form-horizontal" data-ng-submit="changepswd()">		
					<fieldset>

						<div class="control-group">
							<label class="control-label" for="np">New password</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-pencil"></i></span>
								<input id="np" class="form-control" type="password" required="" data-ng-model="pswd.n" pattern=".{5,20}" title="5 to 20 characters">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="np">Confirm password</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-pencil"></i></span>
								<input id="np" class="form-control" type="password" required="" data-ng-model="pswd.c" pattern=".{5,20}" title="5 to 20 characters">
							</div>
						</div>


						<div class="control-group">
							<label class="control-label" for="cp"></label>
							<div class="controls">
								<button id="cp" class="btn btn-success" type="submit" ><i class="icon-floppy"></i>  Reset password</button>
								<button id="close" type="button" class="btn btn-default" data-ng-click="close()" ><i class="icon-floppy"></i> Close</button>
							</div>												
						</div>
					</fieldset>
				</form>			
			</tab>	
			<tab data-ng-show="!data.n">
				<tab-heading>
					<i class="icon-rocket"></i> Test connection
				</tab-heading>
				<div style="padding-top: 10px"></div>
				<form class="form-horizontal" data-ng-submit="test()">
					<fieldset>
						<div class="control-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<label class="control-label">Connection status:</label>							
									<label class="label label-default" data-ng-show="test.result !== 'req' && test.result !== 'ok' && test.result !== 'error'" >?</label>
									<label class="label label-info" data-ng-show="test.result === 'req'"><i class="animate-spin icon-arrows-cw"></i></label>
									<label class="label label-success" data-ng-show="test.result === 'ok'"><i class="icon-ok"></i></label>
									<label class="label label-danger" data-ng-show="test.result === 'error'"><i class="icon-bug"></i></label>
									<span data-ng-show="build">Agent version: {{build.mavenVersion}}</span>									
								</div>							
								<table class="table table-striped sortable">
									<thead>
										<tr>
											<th>Service</th>	
											<th>Date</th>
											<th>GroupId</th>
											<th>ArtifactId</th>
											<th>Version</th>
											<th>Build</th>
											<th>SCM</th>
										</tr>
									</thead>	
									<tbody data-ng-show="build && !services">
										<tr>
											<td align="center" colspan="7">
												<h4><span class="label label-info">No services found.</span></h4>
											</td>
										</tr>					
									</tbody>									
									<tbody>
										<tr data-ng-repeat="item in services">				
											<td>{{item.service}}</td>
											<td>{{item.date| date:'medium'}}</td>
											<td>{{item.groupId}}</td>
											<td>{{item.artifactId}}</td>
											<td>{{item.mavenVersion}}</td>
											<td>{{item.build}}</td>
											<td>{{item.scm}}</td>										
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="test"></label>
							<div class="controls">
								<button id="test" type="submit" class="btn btn-success" ><i class="icon-rocket"></i> Test connection</button>
								<button id="close" type="button" class="btn btn-default" data-ng-click="close()" ><i class="icon-floppy"></i> Close</button>
							</div>
						</div>						
					</fieldset>
				</form>
			</tab>				
			<tab data-ng-show="!data.n" select="load()" data-ng-controller="AgentSysAdminCtrl">
				<tab-heading>
					<i class="icon-suitcase"></i> Systems
				</tab-heading>
				<div style="padding-top: 10px"></div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="input-group">
							<input type="search" placeholder="Search" class="form-control" data-ng-model="filter">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" data-ng-click="clear()"><i class="icon-erase"></i></button>
								<button class="btn btn-default" type="button" data-ng-click="reload()"><i class="icon-arrows-cw"></i></button>
							</span>				
						</div>			
					</div>
					<table class="table table-striped sortable">
						<thead>
							<tr>
								<th> </th>	
								<th>Name</th>	
								<th>Enabled</th>
								<th>Service</th>
								<th>Domain</th>
								<th>Classification</th>
								<th>Notification</th>
								<th>Timer</th>
							</tr>
						</thead>			
						<tbody>
							<tr data-ng-repeat="item in all| filter:search">
								<td>
									<a href="#/settings/sys/edit/{{item.guid}}"><span class="icon-pencil"></span></a>
								</td>					
								<td>{{item.name}}</td>
								<td><i data-ng-class="{'icon-check': item.enabled, 'icon-check-empty': !item.enabled}"></i></td>
								<td>{{item.service}}</td>
								<td>{{item.domain}}</td>
								<td>{{item.clazz}}</td>
								<td><i data-ng-class="{'icon-check': item.enabled, 'icon-check-empty': !item.notification}"></i></td>
								<td><i data-ng-class="{'icon-check': item.enabled, 'icon-check-empty': !item.timer}"></i></td>
							</tr>
						</tbody>
					</table>					
				</div>		

				<div class="control-group">
					<label class="control-label" for="cp"></label>
					<div class="controls">
						<button id="close" type="button" class="btn btn-default" data-ng-click="close()" ><i class="icon-floppy"></i> Close</button>
					</div>												
				</div>
			</tab>			
		</tabset>
	</div>
</div>	
