<h2>Agents
	<small>configuration</small>
</h2>

<ol class="breadcrumb">
	<li>
		<i class="icon-cog-alt"></i> 
		<a href="#/settings">
			Settings
		</a>
	</li>
	<li>
		<i class="icon-user-md"></i>
		<a href="#/settings/agent">
			Agents
		</a>		
	</li>	
	<li class="active">
		<i class="icon-user-md"></i><span data-ng-hide="data.n"> {{data.url}}</span><span data-ng-show="data.n"> - - - - - - - - - -</span>
	</li>		
</ol>

<div class="row">
	<div class="col-lg-12">

		<tabset>
			<tab>
				<tab-heading>
					<i class="icon-user"></i> Agent
				</tab-heading>				
				<form class="form-horizontal" data-ng-submit="save()">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="auth"></label>
							<div class="controls">
								<label class="enabled">
									<input type="checkbox" id="auth" data-ng-model="data.authentication"> Agent authentication
								</label>							
							</div>
						</div>
												
						<div class="control-group">
							<label class="control-label" for="name">Name</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-pencil"></i></span>
								<input id="name" type="text" class="form-control" placeholder="Name of the agent" data-ng-model="data.name" required>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="url">URL</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-pencil"></i></span>
								<input id="url" type="text" class="form-control" placeholder="The agent URL" data-ng-model="data.url" required>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="user">User</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-pencil"></i></span>
								<input id="user" type="text" class="form-control" placeholder="The agent user" data-ng-model="data.user" >
							</div>
						</div>												
						
						<div class="control-group">
							<label class="control-label" for="type">Type</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-pencil"></i></span>
								<select id="type" class="form-control" data-ng-model="data.type" data-ng-options="k as v for (k,v) in types">									
								</select>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="save"></label>
							<div class="controls">
								<button id="save" type="submit" class="btn btn-success" data-ng-hide="data.n" ><i class="icon-floppy"></i> Save</button>
								<button id="save" type="submit" class="btn btn-success" data-ng-show="data.n" ><i class="icon-doc-text"></i> Create</button>
								<button id="close" type="button" class="btn btn-default" data-ng-click="close()" ><i class="icon-floppy"></i> Close</button>
								<span style="float: right">
									<button type="button" class="btn btn-danger" data-ng-disabled="data.n" data-ng-click="delete()"><i class="icon-trash"></i> Delete</button>
								</span>								
							</div>
						</div>					
					</fieldset>
				</form>	
			</tab>

			<tab data-ng-show="!data.n">
				<tab-heading>
					<i class="icon-lock"></i> Password
				</tab-heading>
				<form class="form-horizontal" data-ng-submit="changepswd()">		
					<fieldset>

						<div class="control-group">
							<label class="control-label" for="np">New password</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-pencil"></i></span>
								<input id="np" class="form-control" type="password" required="" data-ng-model="pswd.n" pattern=".{5,20}" title="5 to 20 characters">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="np">Confirm password</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-pencil"></i></span>
								<input id="np" class="form-control" type="password" required="" data-ng-model="pswd.c" pattern=".{5,20}" title="5 to 20 characters">
							</div>
						</div>


						<div class="control-group">
							<label class="control-label" for="cp"></label>
							<div class="controls">
								<button id="cp" class="btn btn-success" type="submit" ><i class="icon-floppy"></i>  Reset password</button>
								<button id="close" type="button" class="btn btn-default" data-ng-click="close()" ><i class="icon-floppy"></i> Close</button>
							</div>												
						</div>
					</fieldset>
				</form>			
			</tab>		
		</tabset>
	</div>
</div>	
