


<div class="panel panel-default">
	<div class="panel-heading">
		<div class="input-group">
			<input type="search" placeholder="Search" class="form-control" data-ng-model="filter">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" data-ng-click="clear()"><i class="icon-erase"></i></button>
				<button class="btn btn-default" type="button" data-ng-click="reload()"><i class="icon-arrows-cw"></i></button>
			</span>				
		</div>			
	</div>
	<table class="table table-striped sortable">
		<thead>
			<tr>
				<th> </th>					
				<th>Authentication</th>
				<th>User</th>
				<th>Server</th>
				<th>Type</th>
				<th>Read timeout</th>
				<th>Connection timeout</th>
			</tr>
		</thead>			
		<tbody>
			<tr data-ng-repeat="item in all| filter:search">
				<td>
					<a href="" data-ng-click="switch (item)"><span class="icon-pencil"></span></a>
				</td>					
				<td><i data-ng-class="{'icon-check': item.auth, 'icon-check-empty': !item.auth}"></i></td>
				<td>{{item.user}}</td>
				<td>{{item.server}}</td>
				<td>{{item.type}}</td>
				<td>{{item.readTimeout}}</td>
				<td>{{item.connectionTimeout}}</td>
			</tr>
		</tbody>
	</table>
</div>