<h1>Activity
	<small data-ng-show="activity">{{activity.projectName}} / {{activity.appName}} / {{activity.build.mavenVersion}} {{activity.build.build}}
		<a href="" style="text-align: right; float: right" data-ng-click="reload()"><i class="icon-arrows-cw"></i></a>
	</small>	
	<small data-ng-show="!activity" style="text-align: right; float: right">
		<i class="icon-arrows-cw animate-spin"></i>
	</small>
</h1>

<ol class="breadcrumb">
	<li>
		<i class="icon-gauge"></i> 
		<a href="#/dashboard">
			Dashboard
		</a>
	</li>
	<li class="active">
		<i class="icon-rocket"></i> Activity
	</li>	
</ol>

<div data-ng-show="activity">

	<div style="text-align: right; padding-bottom: 10px">
		<div class="btn-group">
			<button data-ng-repeat="b in stypes" type="button" class="btn btn-sm" data-ng-click="updateTypes(b.id)" data-ng-class="{'btn-success': b.select, 'btn-default': !b.select}" data-ng-model="b.select" btn-checkbox>{{b.id}}</button>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">{{activity.build.mavenVersion}} {{activity.build.build}}
			<div style="float: right">{{bcSize}} / {{activity.buildChanges.length}}</div>
		</div>

		<div class="panel-body">
			<h4 data-ng-hide="activity.buildChanges" style="text-align: center;"><span class="label label-info">No changes</span ></h4>
			<table class="table" data-ng-show="activity.buildChanges">
				<tbody  data-ng-repeat="c in activity.buildChanges| filter:search | filterSize:bcSizeUpdate">
					<tr style="font-weight: bold">
						<td style="max-width: 20px;">
							<span data-ng-show="c.error && !c.not" class="label label-warning" data-tooltip="This {{c.type.toLowerCase()}} is not for {{activity.build.mavenVersion}}!" data-tooltip-placement="top" data-tooltip-trigger="mouseenter">{{c.type.charAt(0)}}</span>
							<span data-ng-show="c.not" class="label label-danger" data-tooltip="This is not a issue!" data-tooltip-placement="top" data-tooltip-trigger="mouseenter">!</span>
							<span data-ng-show="!c.error && !c.not && !c.parent" class="label label-success" data-tooltip="{{c.type}}" data-tooltip-placement="top" data-tooltip-trigger="mouseenter">{{c.type.charAt(0)}}</span>
							<span data-ng-show="!c.error && !c.not && c.parent" class="label label-success" data-tooltip="{{c.type}} of {{c.parent}}" data-tooltip-placement="top" data-tooltip-trigger="mouseenter">{{c.type.charAt(0)}}</span>
						</td>
						<td style="min-width: 110px;">
							<a href="{{c.link}}" data-ng-show="c.link">{{c.id}}</a>
							<span data-ng-hide="c.link">{{c.id}}</span>
						</td>
						<td style="min-width: 140px;">{{c.resolution}}</td>
						<td style="min-width: 160px;">{{c.assignee}}</td>
						<td>{{c.summary}}</td>
					</tr>
					<tr data-ng-repeat="s in c.changes">
						<td></td>
						<td data-ng-show="s.rc"><h6><a href="#/activity/{{s.build}}">{{s.rc}}</a></h6></td>
						<td data-ng-hide="s.rc"><h6>***</h6></td>
						<td><h6>{{s.date| date:'yyyy-MM-dd HH:mm:ss'}}</h6></td>
						<td><h6>{{s.user}}</h6></td>
						<td><h6>
								<a data-ng-show="s.link" href="{{s.link}}">{{s.id}}</a>
								<span data-ng-hide="s.link">{{s.id}}</span>
								: {{s.message}}
							</h6></td>
					</tr>
					<tr data-ng-hide="c.changes.length">
						<td colspan="4"></td>
						<td><h6><span class="label label-info">No changes</span></h6></td>
					</tr>	
				</tbody >				
			</table>			
		</div>
		<div class="panel-footer">&nbsp;
			<div style="float: right">{{bcSize}} / {{activity.buildChanges.length}}</div>
		</div>
	</div>
	<div style="padding-top: 20px"></div>
	<div class="panel panel-default">
		<div class="panel-heading">{{activity.build.mavenVersion}}
			<div style="float: right">{{cSize}} / {{activity.changes.length}}</div>	
		</div>
		<div class="panel-body">
			<h4 data-ng-hide="activity.changes" style="text-align: center;"><span class="label label-info">No changes</span ></h4>
			<table class="table" data-ng-show="activity.changes">
				<tbody  data-ng-repeat="c in activity.changes| filter:search | filterSize:cSizeUpdate">
					<tr style="font-weight: bold">
						<td style="max-width: 20px;">
							<span data-ng-show="c.error && !c.not" class="label label-warning" data-tooltip="This {{c.type.toLowerCase()}} is not for {{activity.build.mavenVersion}}!" data-tooltip-placement="top" data-tooltip-trigger="mouseenter">{{c.type.charAt(0)}}</span>
							<span data-ng-show="c.not" class="label label-danger" data-tooltip="This is not a issue!" data-tooltip-placement="top" data-tooltip-trigger="mouseenter">!</span>
							<span data-ng-show="!c.error && !c.not && !c.parent" class="label label-success" data-tooltip="{{c.type}}" data-tooltip-placement="top" data-tooltip-trigger="mouseenter">{{c.type.charAt(0)}}</span>
							<span data-ng-show="!c.error && !c.not && c.parent" class="label label-success" data-tooltip="{{c.type}} of {{c.parent}}" data-tooltip-placement="top" data-tooltip-trigger="mouseenter">{{c.type.charAt(0)}}</span>
						</td>
						<td style="min-width: 110px;">
							<a href="{{c.link}}" data-ng-show="c.link">{{c.id}}</a>
							<span data-ng-hide="c.link">{{c.id}}</span>
						</td>
						<td style="min-width: 140px;">{{c.resolution}}</td>
						<td style="min-width: 160px;">{{c.assignee}}</td>
						<td>{{c.summary}}</td>
					</tr>
					<tr data-ng-repeat="s in c.changes">
						<td></td>
						<td data-ng-show="s.rc"><h6><a href="#/activity/{{s.build}}">{{s.rc}}</a></h6></td>
						<td data-ng-hide="s.rc"><h6>***</h6></td>
						<td><h6>{{s.date| date:'yyyy-MM-dd HH:mm:ss'}}</h6></td>
						<td><h6>{{s.user}}</h6></td>
						<td><h6>
								<a data-ng-show="s.link" href="{{s.link}}">{{s.id}}</a>
								<span data-ng-hide="s.link">{{s.id}}</span>
								: {{s.message}}
							</h6>
						</td>
					</tr>
					<tr data-ng-hide="c.changes.length">
						<td colspan="4"></td>
						<td><h6><span class="label label-info">No changes</span></h6></td>
					</tr>	
				</tbody >				
			</table>			
		</div>
		<div class="panel-footer">&nbsp;
			<div style="float: right">{{cSize}} / {{activity.changes.length}}</div>			
		</div>		
	</div>	
</div>