
<h1>Dashboard
	<small>Overview

		<a href="" data-ng-show="dashboard" data-ng-click="reload()" style="text-align: right; float: right">
			<i class="icon-arrows-cw"></i>
			
		</a>
		<i data-ng-show="!dashboard" class="icon-arrows-cw animate-spin" style="text-align: right; float: right"></i>
	</small>
</h1>

<ol class="breadcrumb">
	<li class="active">
		<i class="icon-gauge"></i> Dashboard
	</li>
</ol>

<div class="alert alert-info alert-dismissable" data-ng-hide="dashboard.msg">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true"  ng-click="closeMsg()">&times;</button>
	Welcome to Application release monitor by <a class="alert-link" href="http://www.lorislab.org" target="_blank">lorislab.org</a> community.
</div>

<div data-ng-show="dashboard">
	<div data-ng-repeat="p in dashboard.projects | orderBy:['index','name']">

		<h2>{{p.name}}</h2>
		<div data-ng-repeat="a in p.applications | orderBy:['index','name']">
			<a href="#/appbuild/{{a.guid}}">
				<h3><i class="icon-beaker"></i> {{a.name}}</h3>		
			</a>
			<div class="row">
				<div class="col-lg-4" data-ng-repeat="s in a.systems | orderBy:['index','name']">
					<div class="panel" data-ng-class="{ 'panel-success': s.systemBuild !== null, 'panel-danger': s.systemBuild === null}">

						<div class="panel-heading" style="min-height: 140px">
							<div class="row">
								<div class="col-xs-10" style="font-size: 25px;">
									<a href="#/systembuild/{{s.guid}}">
										{{s.name}}
									</a>
									<a href="{{s.link}}" style="font-size: 20px;" data-ng-show="s.link"><i class="icon-link-ext-alt"></i></a>
								</div>
								<div class="col-xs-2"	style="text-align: right; float: right">
									<a href="" data-ng-click="updateBuild(s.guid)" data-ng-show="s.systemBuild" data-popover="Refresh" data-popover-placement="top" data-popover-trigger="mouseenter">
										<i class="icon-arrows-cw"></i>
									</a>
								</div>
							</div>	
							<div class="row">
								<div class="col-xs-12" style="font-size: 15px;">
									<span data-ng-show="s.domain">{{s.domain}} / </span>
									<span data-ng-show="s.clazz">{{s.clazz}}</span>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4" style="font-size: 5em;">
									<a href="#/activity/{{s.systemBuild.build}}" data-ng-show="s.systemBuild">
										<i class="icon-ok" ></i>
									</a>
									<i class="icon-attention" data-ng-hide="s.systemBuild"></i>
								</div>
								<div class="col-xs-8" style="text-align: right;">
									<p style="font-size: 20px;">
										<a href="{{s.systemBuild.link}}" data-ng-show="s.systemBuild && s.systemBuild.link"><i class="icon-download-cloud"></i></a>
										<a  href="#/versionbuild/{{a.guid}}/{{s.systemBuild.version}}">
											{{s.systemBuild.version}}
										</a>
										<a href="#/activity/{{s.systemBuild.build}}">
											{{s.systemBuild.rc}}  
										</a>									
									</p>
									<p>
										<i class="icon-fork" style="font-weight: bold"></i>{{s.systemBuild.scm}}
									</p>
									<p>
										<i class="icon-clock"></i>{{s.systemBuild.date| date:'medium' }}
									</p>								
								</div>
							</div>						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
