<h2>Users
	<small>configuration</small>
</h2>

<ol class="breadcrumb">
	<li>
		<i class="icon-cog-alt"></i> 
		<a href="#/settings">
			Settings
		</a>
	</li>
	<li>
		<i class="icon-users"></i>
		<a href="#/settings/user">
			Users
		</a>		
	</li>	
	<li class="active">
		<i class="icon-user"></i><span data-ng-hide="data.n"> {{data.name}}</span><span data-ng-show="data.n"> - - - - - - - - - -</span>
	</li>		
</ol>

<div class="row">
	<div class="col-lg-12">

		<tabset>
			<tab>
				<tab-heading>
					<i class="icon-user"></i> User
				</tab-heading>				
				<form class="form-horizontal" data-ng-submit="save()">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="auth"></label>
							<div class="controls">
								<label class="enabled">
									<input type="checkbox" id="auth" data-ng-model="data.enabled"> User enabled
								</label>							
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="login"></label>
							<div class="controls">
								<label class="enabled">
									<input type="checkbox" id="login" data-ng-model="data.login"> User login
								</label>							
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="name">Name</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-pencil"></i></span>
								<input id="name" type="text" class="form-control" placeholder="Name" data-ng-model="data.name" required>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="email">Email</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-pencil"></i></span>
								<input id="email" type="text" class="form-control" placeholder="Name" data-ng-model="data.email" required>
							</div>
						</div>												
						
						<div class="control-group">
							<label class="control-label" for="save"></label>
							<div class="controls">
								<button id="save" type="submit" class="btn btn-success" data-ng-hide="data.n" ><i class="icon-floppy"></i> Save</button>
								<button id="save" type="submit" class="btn btn-success" data-ng-show="data.n" ><i class="icon-doc-text"></i> Create</button>
								<button id="close" type="button" class="btn btn-default" data-ng-click="close()" ><i class="icon-floppy"></i> Close</button>
								<span style="float: right">
									<button type="button" class="btn btn-danger" data-ng-disabled="data.n" data-ng-click="delete()"><i class="icon-trash"></i> Delete</button>
								</span>								
							</div>
						</div>					
					</fieldset>
				</form>	
			</tab>
			<tab data-ng-show="!data.n" select="load()" data-ng-controller="UserRoleAdminCtrl">
				<tab-heading>
					<i class="icon-key"></i> Roles
				</tab-heading>
				<div style="padding-top: 10px"></div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="input-group">
							<input type="search" placeholder="Search" class="form-control" data-ng-model="filter">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" data-ng-click="clear()"><i class="icon-erase"></i></button>
								<button class="btn btn-default" type="button" data-ng-click="reload()"><i class="icon-arrows-cw"></i></button>
							</span>				
						</div>			
					</div>
					<table class="table table-striped sortable">
						<thead>
							<tr>
								<th> </th>	
								<th>Name</th>								
							</tr>
						</thead>			
						<tbody>
							<tr data-ng-repeat="(i, item) in all| filter:search">
								<td>
									<a href="" data-ng-click="addRole(item)" data-ng-hide="item.remove"><span class="icon-check-empty"></span></a>
									<a href="" data-ng-click="removeRole(item)" data-ng-show="item.remove"><span class="icon-check"></span></a>
								</td>					
								<td>{{item.name}}</td>
							</tr>
						</tbody>
					</table>					
				</div>		

				<div class="control-group">
					<label class="control-label" for="close"></label>
					<div class="controls">
						<button id="close" type="button" class="btn btn-default" data-ng-click="close()" ><i class="icon-floppy"></i> Close</button>
					</div>												
				</div>
			</tab>
			<tab data-ng-show="!data.n">
				<tab-heading>
					<i class="icon-lock"></i> Password
				</tab-heading>
				<form class="form-horizontal" data-ng-submit="changepswd()">		
					<fieldset>

						<div class="control-group">
							<label class="control-label" for="np">New password</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-pencil"></i></span>
								<input id="np" class="form-control" type="password" required="" data-ng-model="pswd.n" pattern=".{5,20}" title="5 to 20 characters">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="np">Confirm password</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-pencil"></i></span>
								<input id="np" class="form-control" type="password" required="" data-ng-model="pswd.c" pattern=".{5,20}" title="5 to 20 characters">
							</div>
						</div>


						<div class="control-group">
							<label class="control-label" for="cp"></label>
							<div class="controls">
								<button id="cp" class="btn btn-success" type="submit" ><i class="icon-floppy"></i>  Reset password</button>
								<button id="close" type="button" class="btn btn-default" data-ng-click="close()" ><i class="icon-floppy"></i> Close</button>
							</div>												
						</div>
					</fieldset>
				</form>			
			</tab>		
		</tabset>
	</div>
</div>	
